<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.repository.replyMapper">
 	<insert id="saveReply">
		<selectKey>
			
		</selectKey>
 	
 	<!--리플등록-->
 	<insert id="saveReply">
		<selectKey keyProperty="reply_id" resultType="long" order="BEFORE">
			select seq_board.nextval from dual
		</slectKey>
		insert into reply(
			reply_id,
			board_id,
			member_id,
			content
		)values (
		#{reply_id},
		#{}
		)
	</insert>
 	<!--리플등록-->
 	
 	<!--리플등록-->
 	<!--리플등록-->
 	<select id="findReplies" resultType="reply">
 		select * from reply where board_id = #{board_id}
 	</select>
 	<!--리플등록-->
 	<!--리플등록-->
</mapper>